%h1 Delete by Rating

= form_tag deleteByRating_movies_path, :method => :get do

  = label :movie, :rating, 'Rating'
  = select :movie, :rating, ['G','PG','PG-13','R','NC-17']

  = submit_tag 'Delete Movies'
<br/>
= link_to 'Back Home', root_path