%h1 Delete by Title

= form_tag deleteByTitle_movies_path, :method => :get do

  = label :movie, :title, 'Title'
  = text_field :movie, 'title'

  = submit_tag 'Delete Movies'
<br/>
= link_to 'Back Home', root_path